<div class="foods">
  <div class="search-box">
    <label for="food-search">Search</label>
    <input id="food-search" type="text" [(ngModel)]="pattern">
  </div>

  <div class="new-food">
    <button (click)="enableUserToAddFood()" class="new-food-button">Add New Food</button>
    <br>
    <div *ngIf="isEditing">
      <div>
        <br>
        <label for="new-food-name">Name </label>
        <input type="text" [(ngModel)]="newFoodName">
        <br> <br>
      </div>
      <div>
        <label for="new-food-calories">Calories </label>
        <input type="text" [(ngModel)]="newFoodCalories">
        <br> <br>
      </div>
      <div>
        <label for="new-food-name">Image </label>
        <input type="text" [(ngModel)]="newFoodImage">
        <br> <br>
      </div>

      <button (click)="newFood()" class="add-button">Add Food</button>
    </div>
  </div>

  <ul class="food-list">
    <li class="single-food" *ngIf="isEditing">
      <img [src]="newFoodImage">
      <h3 class="food-name">
        {{ newFoodName }}
        <small class="food-calories">{{ newFoodCalories }}</small>
      </h3>
    </li>



    <li class="single-food" *ngFor="let food of foods | foodSearch:'name':pattern;">
      <img [src]="food.image">

      <h3 class="food-name">
        {{ food.name }} <br>
        <h4>Calory - <span class="food-calories">{{ food.calories }}</span></h4>
      </h3>
      <input type="text" #quantity value="1">
      <button (click)="addList(food, quantity)" class="add-button-list"> Add </button>
    </li>
  </ul>

</div>

<div class="my-food-list">
  <h2>Today's Foods <small>{{ totalCalories }} cal</small></h2>
  <ul>
    <li *ngFor="let food of myFoodList">
      <span>{{ food.name }} </span>
      <span>{{ food.calories }} </span>
      <span *ngIf="food.quantity > 1">x{{ food.quantity }}</span>
    </li>
  </ul>
</div>
